* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;
}

.main-container {
    width: 60%;
    margin: 20px auto;
}

.item {
    width: 32%;
    height: 500px;
    float: left;
    margin-right: 10px;
}

.top-section {
    position: relative;
}

.image {
    width: 100%;
    height: 80%;
    display: block;
}

.shadow {
    width: 100%;
    height: 80%;
    display: none;
}

.top-section:hover .image {
    display: none;
}

.top-section:hover .shadow {
    display: block;
}

.discount {
    font-family: 'Roboto', sans-serif;    
    font-size: .6rem;
    font-weight: bold;
    width: 30px;
    height: 14px;
    text-align: center;
    color: white;
    background-color: red;
    position: absolute;
    bottom: 15px;
    left: 0;
}

.green {
    width: 60px;
    height: 14px;
    background-color: seagreen;
    color: white;
    font-family: 'Roboto', sans-serif;  
    font-weight: bold;  
    font-size: .6rem;
    text-align: center;
    position: absolute;
    left: 34px;
    bottom: 15px;
}

.heart {
    position: absolute;
    text-align: center;
    top: 20px;
    right: 0;
    width: 25px;
    height: 25px;
    font-size: larger;
    background-color: white;
}

.brand {
    font-size: .7rem;
    font-weight: lighter;
}

.description {
    font-size: .8rem
}

.price {
    color: red;
    font-size: .6rem;
}

.old-price {
    color: black;
    text-decoration: line-through;
}

